# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Local development settings
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/